body {
}
.text-left{
    text-align:left !important;
}
.text-right{
    text-align:right !important;
}
.float-end{
    float:left !important;
}
.sdate{
    font-size:0.8rem;
}
.article_img {
    max-width: 700px;
    width: 100%;
}
.cat-line{
    text-align:right !important;
}
.cat-line li{
    display:inline-block;
    margin-bottom:30px;
    width:100%;
    margin-right:30px;
    position:relative;
}
.cat-line .cat-title{
    height:auto;
}
.cat-line-thumb{
    float:right;
    width:20%;
    margin-left:30px;
}
.cat-line-thumb img{
    width:100%;
}
.cat-line li:after {
    content: "";
    background: var(--mainColor);
    position: absolute;
    right: -35px;
    top: 20px;
    width: 18px;
    height: 5px;
}
#navbarMain ul li {
    /*:20px;padding-left:20px;*/
}
.dropdown-menu{
    padding-right:0px;
}
.tags_cont ul {
    padding-right: 0px;
    margin-top: 20px;
    list-style: none;
    margin-right: 30px;
}
.tags_cont ul li {
    float: right;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #ccc;   
    text-align: center;
    padding: 7px;
    height: 38px;
    padding-top: 2px;
}
.tags_cont a {
    color: #222121;
}
.tags_cont a:hover {
    color: #7e0a0a;
}

.tags_cont ul li span {
    font-size: 0.8rem !important;
}
.tags_cont ul li:hover{
    background-color:#808080;
}

.stext {
    font-size: 0.8rem;
}
.cat_cont {
    position: relative;
}

.cart_cont {
    position: relative;
}

.col3-cat {
    height: 220px;
    overflow: hidden;
    margin-bottom: 15px;
}
.row-box{
    border-radius:3px;
    border:solid 1px #ccc;
    padding:15px;
}
.row-box:hover {
    background-color: #f1ecec;
}
.left-container{
    border-right:solid 1px #ccc;
    min-height:400px;
}
.leftlist{
    margin-right:20px;
}
.col3-cat img {
    transition: transform .5s; /* Animation */
}

.col3-cat img:hover {
    transform: scale(1.2);
}

.gfloat-img {
    margin-bottom: 15px;
    height: 250px;
    overflow: hidden;
    float: right;
    padding-right: 7px;
    padding-left: 7px;
}

.gfloat-img img {
    width: 100%;
}

.box-shadow-div {
    background-color: white;
}

.cat-title {
    background-color: white;
    color: black !important;
    padding: 5px;
    height: 90px;
}

.vid_gal_cont {
    width: 100%;
    border: solid 1px #ccc;
    overflow: hidden;
    height: 160px;
    overflow: hidden;
}

.video_gallery_thumb {
    width: 100% !important;
}

.box-shadow-div {
    height: 235px;
    margin-bottom: 15px;
}

.cat_box-shadow-div {
    height: 380px;
    background-color: white;
    padding: 7px;
    margin-bottom: 15px;
}

.cat_thumb_div {
    height: 165px;
    overflow: hidden;
}

    .cat_thumb_div img {
        width: 100% !important;
    }

.art_cat_thumb_div {
    height: 280px;
    overflow: hidden;
}

    .art_cat_thumb_div img {
        max-width: 100% !important;
    }
