@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <img src="~/sys_images/error.png" style="margin-right:auto;margin-left:auto;max-height:500px;" />
            <Br />
            <a href="~/Home/Index" style="color:brown;">العودة الى الصفحة الرئيسية</a>
        </div>
    </div>
</div>