@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
   <div class="row">
       <div class="col-12 text-center">
            <img src="~/sys_images/notfound.jpg" style="margin-right:auto;margin-left:auto;max-height:380px;" />
            <Br />
            <a href="~/Home/Index" style="color:brown;">العودة الى الصفحة الرئيسية</a>
       </div>        
   </div>    
</div>