@model PEF.Models.Category
@using PEF.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = Model.ArName;
}
<div class="container pt-3" style="min-height:400px;" >
	<div class="row mb-3">
		<div class="col-12 text-right" >@Html.Raw(ViewBag.Route)</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12"><h3 class="navh6">@Model.ArName</h3></div>
	</div>
	@if(Model.ShowDescription== true && Model.ArDescription!= null &&  Model.ArDescription.ToString() !="")
	{
		<div class="row page_content mt-3">@Html.Raw(Model.ArDescription)</div>
	}
	<div class="row mt-3">
		<partial name="@ViewBag.Template" />
	</div>
</div>